@using Marrakech
@using Marrakech.Models
@using Marrakech.Models.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<a href="C:\Users\Ahmed\source\repos\Marrakech\Marrakech\Areas\Admin\Views\Categorie\Index.cshtml">C:\Users\Ahmed\source\repos\Marrakech\Marrakech\Areas\Admin\Views\Categorie\Index.cshtml</a>