<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-primary form-control" value="Ajouter" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success">Retour</a>
    </div>
</div>